{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "jest": false,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  }
}